* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
  line-height: 0;

  &:hover {
    opacity: 50%;
  }
}

html {
  height: 100%;
}

.wrapper {
  padding: 0 8vw;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.input {
  background-color: var(--input-background);
  border-radius: 5px;
  padding: 5px;
}


/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 36px;

  background-color: var(--button-color);
  border: none;
  border-radius: 10px;

  font-size: 16px;
  color: var(--main-font-bright-color);
  text-transform: uppercase;





  &--transparent {
    padding: 5px;
    background-color: transparent;
    border: none;
  }
  p {
    color: var(--main-font-bright-color);
  }
}
