.header {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 33px;

  color: var(--main-font-bright-color);

  &__phone {
    display: flex;
  }

}

.phone {
  &__link {
    display: flex;
    column-gap: 15px;
    flex-wrap: nowrap;
    align-items: center;
  }
}


