.intro {
  height: 100dvh;

  &__logo {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 194px);
  }

  &__footer {
    position: absolute;
    top: 91%;
    z-index: 2;
    width: 100dvw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__lang-switcher-button {
    border: 1px solid white;
    border-radius: 5px;
    p {
      font-size: 18px;
    }
  }

}

.intro-slider {
  width: 100%;
  height: 100%;

  &__slide {
    width: 100%;
    height: 100%;
  }

  &__banner {
    height: 100%;
    width: 100%;
  }

  &__background {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    top: 77%;
    width: 100dvw;
    z-index: 2;

    text-align: center;
    font-size: 30px;

    color: var(--main-font-bright-color);
  }
}

