.navigation {

  &__list {
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    align-items: center;

    list-style: none;
  }

  &__title {
    margin-bottom: 42px;
  }

  &__socials {
    display: flex;
    flex-direction: row;
    column-gap: 72px;

    list-style: none;

    margin: 55px 0 64px;

  }
}