.reviews {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 220px;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 120px;
    grid-row-gap: 76px;

    list-style: none;

    margin-bottom: 78px;
  }

  &__title {
    margin-bottom: 98px;
  }

}

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 12px;

  &__text {
    text-align: center;
  }

  &__video {
    border-radius: 10px;
  }
}